{% extends 'base.html.twig' %}

{% block body %}
    <h1>Level list</h1>

    <a href="{{ path('admin_homepage') }}">Back to overview</a>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Shorthand</th>
                <th>Label</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for level in levels %}
            <tr>
                <td><a href="{{ path('level_show', { 'id': level.id }) }}">{{ level.id }}</a></td>
                <td>{{ level.shorthand }}</td>
                <td>{{ level.label }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('level_show', { 'id': level.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('level_edit', { 'id': level.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('level_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
