<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Footbel Backend overview!{% endblock %}</title>

        {% block stylesheets %}
            {% stylesheets filter="sass"
            '@FootbelFrontendBundle/Resources/public/materialize-src/sass/materialize.scss'
            '@FootbelFrontendBundle/Resources/public/sass/footbel.scss'
            %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <div class="parallax-container valign-wrapper">
        <h1 class="header thin center teal lighten-2 white-text valign">Footbel Data API</h1>

        <div class="parallax">
            {% image '@FootbelFrontendBundle/Resources/public/images/soccer.png'  output="images/soccer.png" %}
            <img src="{{ asset_url }}">
            {% endimage %}
        </div>
    </div>

    <div class=" container">
        <div class="section white">

            <div class="row">
                {% for flash_message in app.session.flashbag.get('notice') %}
                    <div class="flash-notice card-panel teal lighten-2 white-text">
                        {{ flash_message }}
                    </div>
                {% endfor %}
                {% for flash_message in app.session.flashbag.get('error') %}
                    <div class="flash-error card-panel red lighten-2 white-text">
                        {{ flash_message }}
                    </div>
                {% endfor %}
            </div>

            <div class="row">
                {% block body %}{% endblock %}
            </div>
        </div>
                {% block javascripts %}
                    {% javascripts
                    '@FootbelFrontendBundle/Resources/public/jquery-2.2.0.min.js'
                    '@FootbelFrontendBundle/Resources/public/materialize-src/js/*'
                    %}
                    <script type="text/javascript" src="{{ asset_url }}"></script>

                    <script type="text/javascript">
                        $(document).ready(function() {
                            $('select').material_select();

                            $('.parallax').parallax();
                        });
                    </script>
                    {% endjavascripts %}
                {% endblock %}

    </body>
</html>
