{% extends 'base.html.twig' %}

{% block body %}
    <h1>Season</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ season.id }}</td>
            </tr>
            <tr>
                <th>Shorthand</th>
                <td>{{ season.shorthand }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ season.label }}</td>
            </tr>
            <tr>
                <th>Start</th>
                <td>{% if season.start %}{{ season.start|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>End</th>
                <td>{% if season.end %}{{ season.end|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('season_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('season_edit', { 'id': season.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
