{% extends 'base.html.twig' %}

{% block body %}
    <h1>Province list</h1>

    <a href="{{ path('admin_homepage') }}">Back to overview</a>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Shorthand</th>
                <th>Label</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for province in provinces %}
            <tr>
                <td><a href="{{ path('province_show', { 'id': province.id }) }}">{{ province.id }}</a></td>
                <td>{{ province.shorthand }}</td>
                <td>{{ province.label }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('province_show', { 'id': province.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('province_edit', { 'id': province.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('province_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
